<div>
  <form [formGroup]="formregister" (ngSubmit)="save()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName">
      <div class="alert alert-danger" *ngIf="formregister.get('firstName')?.touched && formregister.get('firstName')?.hasError('required')">
        First name is required.
      </div>
      <div class="alert alert-danger" *ngIf="formregister.get('firstName')?.touched && formregister.get('firstName')?.hasError('minlength')">
        Minimum 2 characters required.
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName">
      <div class="alert alert-danger" *ngIf="formregister.get('lastName')?.touched && formregister.get('lastName')?.hasError('required')">
        Last name is required.
      </div>
      <div class="alert alert-danger" *ngIf="formregister.get('lastName')?.touched && formregister.get('lastName')?.hasError('minlength')">
        Minimum 2 characters required.
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="Email">
      <div class="alert alert-danger" *ngIf="formregister.get('Email')?.touched && formregister.get('Email')?.hasError('required')">
        Email is required.
      </div>
      <div class="alert alert-danger" *ngIf="formregister.get('Email')?.touched && formregister.get('Email')?.hasError('pattern')">
        Invalid email format! it needs to be "exemple&#64;[gmail/yahoo....].[com/tn...]".<!--&#64 fi blaset @ khater habech yekbel el @-->
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="Password">
      <div class="alert alert-danger" *ngIf="formregister.get('Password')?.touched && formregister.get('Password')?.hasError('required')">
        Password is required.
      </div>
      <div class="alert alert-danger" *ngIf="formregister.get('Password')?.touched && formregister.get('Password')?.hasError('minlength')">
        Password must be at least 6 characters long.
      </div>
    </div>
    <div formGroupName="adresse" class="form-group">
      <h3>Adresse</h3>

      <div class="form-group">
        <label>Street</label>
        <input type="text" formControlName="street">
        <div class="alert alert-danger" *ngIf="formregister.get('adresse.street')?.touched && formregister.get('adresse.street')?.hasError('required')">
          Street is required.
        </div>
      </div>

      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName="city">
        <div class="alert alert-danger" *ngIf="formregister.get('adresse.city')?.touched && formregister.get('adresse.city')?.hasError('required')">
          City is required.
        </div>
      </div>

      <div class="form-group">
        <label>Zip Code</label>
        <input type="text" formControlName="zipCode">
        <div class="alert alert-danger" *ngIf="formregister.get('adresse.zipCode')?.touched && formregister.get('adresse.zipCode')?.hasError('required')">
          Zip code is required.
        </div>
        <div class="alert alert-danger" *ngIf="formregister.get('adresse.zipCode')?.touched && formregister.get('adresse.zipCode')?.hasError('pattern')">
          Zip code must be numeric (4-10 digits).
        </div>
      </div>
</div>
    <button type="submit" [disabled]="formregister.invalid">Register</button>
  </form>
</div>
