<h1 class="page-title">{{ title }}</h1>

<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchValue"
    placeholder=" "
    class="search-input" />
  <label class="search-label">Rechercher un événement...</label>
</div><!---two way binding-->

<div class="cards-container">
  <!----enhance search input and display data-->
  <!---- *ngfor + *ngif des directive structurelle + tnajm taaml directive perso-->

  <!-- Use ng-container to loop and filter BEFORE rendering a card -->
    <!-- Only create the card if search matches OR still loading -->
    <ng-container *ngFor="let e of (loading ? skeletonArray : listEvents | slice:(currentPage - 1)*itemsPerPage:(currentPage)*itemsPerPage)">
      <app-card-event
        [e]="e"
        [loading]="loading"
        [searchValue]="searchValue"
        (notifLike)="nbrLikeincr(e)">
      </app-card-event>
    </ng-container>
</div>
<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>

